@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fonte-principal: 'Montserrat', sans-serif;

    --branco: #fff;
    --cinza-escuro: #333;
    --verde-musgo-btn: #006064;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

/* CORPO INTEIRO DO SITE */
body{
    background-image: linear-gradient(to left, #006064, rgb(224,247,250));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

/* CARD */
.container{
    background-color: var(--branco);
    border-radius: 5%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
    position: relative;
    overflow: hidden;
    width: 65%;
    max-width: 100%;
    min-height: 50%;
}

.container p{
    font-size: 14px;
    line-height: 10%;
    letter-spacing: 0.3px;
    margin: 10% 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: var(--cinza-escuro);
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color:var(--verde-musgo-btn);
    padding: 10px 45px;
    color: var(--branco);
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
}

.container button.hidden{
    background-color: transparent;
    border-color: var(--branco);
}

.container form{
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50;
    z-index: 2
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.icon__social-media{
    margin: 20px 0;
}

.icon__social-media a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 100;
}

.container.active .toggle-container{
    transform: translateX(-100%);
}

.toogle-panel{
    background-image: linear-gradient(to left, #00BCD4, #006064);
    height: 100%;
    color: var(--branco);
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

