@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fonte-principal: 'Montserrat', sans-serif;

    --branco: #fff;
    --cinza-escuro: #333;
    --verde-musgo-btn: #006064;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fonte-principal);
}

/* CORPO INTEIRO DO SITE */
body{
    background-image: linear-gradient(to left, #006064, rgb(224,247,250));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

/* CARD */
.container{
    background-color: var(--branco);
    border-radius: 5%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
    position: relative;
    overflow: hidden;
    width: 65%;
    max-width: 100%;
    min-height: 50%;
}

.container p{
    font-size: 14px;
    line-height: 10%;
    letter-spacing: 0.3px;
    margin: 10% 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: var(--cinza-escuro);
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color:var(--verde-musgo-btn);
    padding: 10px 45px;
    color: var(--branco);
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
}

.container button.hidden{
    background-color: transparent;
    border-color: var(--branco);
}

.container form{
    background-color: var(--branco);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}